---
jndi_queues:
{% for item in csv_input.list %}
- name: {{item.name}}
  msg_vpn: {{item.msg_vpn}}
{# physicalName #}
{% if item.physicalName != '' %}
  physicalName: {{item.physicalName}}
{% endif %}
{# state #}
{% if item.state != '' %}
  state: {{item.state}}
{% endif %}
{% endfor %}