---
jndi_topics:
{% for item in csv_input.list %}
- name: "{{item.name}}"
  msg_vpn: "{{item.msg_vpn}}"
{# physicalName #}
{% if item.physicalName is defined %}
  physicalName: "{{item.physicalName}}"
{% endif %}
{# state #}
{% if item.state is defined %}
  state: "{{item.state}}"
{% endif %}
{% endfor %}