---
jndi_cfs:
{% for item in csv_input.list %}
- name: "{{item.name}}"
  msg_vpn: "{{item.msg_vpn}}"
{# transportDirectTransportEnabled #}
{% if item.transportDirectTransportEnabled is defined %}
  transportDirectTransportEnabled: {{item.transportDirectTransportEnabled}}
{% endif %}
{# state #}
{% if item.state is defined %}
  state: "{{item.state}}"
{% endif %}
{% endfor %}