---
mqtt_sessions:
{% for item in csv_input.list %}
- name: "{{item.name}}"
  msg_vpn: "{{item.msg_vpn}}"
  enabled: {{item.enabled}}
{# owner #}
{% if item.owner is defined %}
  owner: "{{item.owner}}"
{% endif %}
{# queueMaxMsgSpoolUsage #}
{% if item.queueMaxMsgSpoolUsage is defined %}
  queueMaxMsgSpoolUsage: "{{item.queueMaxMsgSpoolUsage}}"
{% endif %}
{# queueMaxBindCount #}
{% if item.queueMaxBindCount is defined %}
  queueMaxBindCount: "{{item.queueMaxBindCount}}"
{% endif %}
{# queueMaxMsgSize #}
{% if item.maxMsgSize is defined %}
  queueMaxMsgSize: "{{item.queueMaxMsgSize}}"
{% endif %}
{# queueMaxRedeliveryCount #}
{% if item.maxRedeliveryCount is defined %}
  queueMaxRedeliveryCount: "{{item.queueMaxRedeliveryCount}}"
{% endif %}
{# queueMaxTtl #}
{% if item.queueMaxTtl is defined %}
  queueMaxTtl: "{{item.queueMaxTtl}}"
{% endif %}
{# queueRespectTtlEnabled #}
{% if item.queueRespectTtlEnabled is defined %}
  queueRespectTtlEnabled: {{item.queueRespectTtlEnabled}}
{% endif %}
{# queueDeadMsgQueue #}
{% if item.queueDeadMsgQueue is defined %}
  queueDeadMsgQueue: "{{item.queueDeadMsgQueue}}"
{% endif %}
{# state #}
{% if item.state is defined %}
  state: "{{item.state}}"
{% endif %}
{# subscription_topics #}
{% if item.subscription_topics is defined %}
  subscription_topics:
{%- set topics = item.subscription_topics.split(',') %}
{% if topics.0 == '' %} []
{%  else +%}
{% for topic in topics %}
  - topic: "{{ topic }}"
{% endfor %}
{%  endif %}
{% endif %}
{% endfor %}