---
queues:
{% for item in csv_input.list %}
- name: "{{item.name}}"
  msg_vpn: {{item.msg_vpn}}
  egressEnabled: {{item.egressEnabled}}
  ingressEnabled: {{item.ingressEnabled}}
{# owner #}
{% if item.owner is defined %}
  owner: {{item.owner}}
{% endif %}
{# permission #}
{% if item.permission is defined %}
  permission: {{item.permission}}
{% endif %}
{# maxMsgSpoolUsage #}
{% if item.maxMsgSpoolUsage is defined %}
  maxMsgSpoolUsage: {{item.maxMsgSpoolUsage}}
{% endif %}
{# maxBindCount #}
{% if item.maxBindCount is defined %}
  maxBindCount: {{item.maxBindCount}}
{% endif %}
{# maxMsgSize #}
{% if item.maxMsgSize is defined %}
  maxMsgSize: {{item.maxMsgSize}}
{% endif %}
{# maxRedeliveryCount #}
{% if item.maxRedeliveryCount is defined %}
  maxRedeliveryCount: {{item.maxRedeliveryCount}}
{% endif %}
{# maxTtl #}
{% if item.maxTtl is defined %}
  maxTtl: {{item.maxTtl}}
{% endif %}
{# respectTtlEnabled #}
{% if item.respectTtlEnabled is defined %}
  respectTtlEnabled: {{item.respectTtlEnabled}}
{% endif %}
{# deadMsgQueue #}
{% if item.deadMsgQueue is defined %}
  deadMsgQueue: "{{item.deadMsgQueue}}"
{% endif %}
{# state #}
{% if item.state is defined %}
  state: {{item.state}}
{% endif %}
{# subscription_topics #}
{% if item.subscription_topics is defined %}
  subscription_topics:
{%- set topics = item.subscription_topics.split(',') %}
{% if topics.0 == '' %} []
{%  else +%}
{% for topic in topics %}
  - "{{ topic }}"
{% endfor %}
{%  endif %}
{% endif %}
{% endfor %}