---
result_count: {{result.result_list_count}}
{{output_object}}:
{% set items = result.result_list | rejectattr("data", "==",{}) %}
{% for item in items -%}
- msg_vpn: "{{item.data.msgVpnName}}"
  name: "{{item.data.clientProfileName}}"
{% for k, v in item.data.items() %}
{% if k in ["msgVpnName","clientProfileName"] %}
{# skip #}
{% elif v == '' %}
{# skip #}
{% elif v is mapping %}
  {{k}}: 
{% for ck, cv in v.items() %}
{%if cv is number %}
    {{ck}}: {{cv}}
{%else %}
    {{ck}}: "{{cv}}"
{% endif %}
{% endfor %}
{% else %}
{%if v is number %}
  {{k}}: {{v}}
{% else %}
  {{k}}: "{{v}}"
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}