---
result_count: {{result.result_list_count}}
{{output_object}}:
{% for item in result.result_list -%}
- msg_vpn: "{{item.data.msgVpnName}}"
  name: "{{item.data.mqttSessionClientId}}"
{% for k, v in item.data.items() %}
{% if k in ["msgVpnName","mqttSessionClientId"] %}
{# skip #}
{% elif v == '' %}
{# skip #}
{% elif v is mapping %}
  {{k}}: 
{% for ck, cv in v.items() %}
{%if cv is number or cv is boolean %}
    {{ck}}: {{cv}}
{%else %}
    {{ck}}: "{{cv}}"
{% endif %}
{% endfor %}
{% else %}
{%if v is number or v is boolean %}
  {{k}}: {{v}}
{% else %}
  {{k}}: "{{v}}"
{% endif %}
{% endif %}
{% endfor %}
{# Subscriptions #}
{% set ms_ref = item.data.mqttSessionClientId %}
{# Queue Subscriptions #}
{% set ms_scs = mqtt_session_subscriptions.results | selectattr("item.data.mqttSessionClientId","==",ms_ref)%}
{% set skey = True %}
{% for sitem in ms_scs %}
{% if skey and sitem.result_list_count > 0 %}
  subscription_topics:
{% set skey = False %}
{% endif %}
{% for st in sitem.result_list %}
  - topic: "{{ st.data.subscriptionTopic }}"
    qos: "{{ st.data.subscriptionQos }}"
{% endfor %}
{% endfor %}
{# End of Subscriptions #}
{% endfor %}