result_count: {{result.result_list_count}}
{% set cs_first = result.result_list | rejectattr("data", "==",{}) | first %}
{% for k, _ in cs_first.data.items() -%}
{{k}}{{ "," if not loop.last else ",subscriptionTopic|subscriptionQos\n" }}
{%- endfor %}
{% set cs = result.result_list | rejectattr("data", "==",{}) %}
{% for item in cs -%}
{% for _,v in item.data.items() %}
{%- if v is mapping -%}
"
{%- for ck, cv in v.items() -%}
{{ck}}: {{cv}}{{ "," if not loop.last else "\"" }}
{%- endfor -%}
{{ "," if not loop.last else "" }}
{%- else -%}
{{v}}{{ "," if not loop.last else "" }}
{%- endif -%}
{% endfor %}
{# Subscriptions #}
{%- set ms_ref = item.data.mqttSessionClientId -%}
{# Queue Subscriptions #}
{% set ms_scs = mqtt_session_subscriptions.results | selectattr("item.data.mqttSessionClientId","==",ms_ref) | first %}
{%- if ms_scs.result_list_count == 0 -%}
{{",\n"}}
{%- else -%}
,"
{%- for st in ms_scs.result_list -%}
{{st.data.subscriptionTopic}}|{{ st.data.subscriptionQos }}{{ "," if not loop.last else "\"\n" }}
{%- endfor -%}
{%- endif -%}
{# End of Subscriptions #}
{% endfor %}