---
result_count: {{result.result_list_count}}
{{output_object}}:
{% set ps = result.result_list | rejectattr("data", "==",{}) %}
{% for mode, items in ps | groupby('data.replicationMode') -%}
- msg_vpn: "{{items.0.data.msgVpnName}}"
  replicationMode: "{{mode}}"
  topics:
{% for rt in items %}
  - "{{ rt.data.replicatedTopic }}"
{% endfor %}
{% endfor %}